:root{
  --red: #E81818;
  --white:#DEDEDE;
  --dark: #17181D;
  --gray: #35353C;
}
body {
  margin: 0;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
a{
  text-decoration: none;
  color: var(--white) default;
}
.mobile{
  display: none;
}
h2{
  margin:0;
  text-align: center;
  margin-top: 10vh;
}
h2, label{
  color: var(--white)
}

*{
  box-sizing: border-box;
}

.nav-title{
  margin:0;
  color: var(--white);
  font-size: 18px;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #17181D;
  color: var(--white);
  background-image: url("./assets/unicamp.png");
  background-size: cover;
  background-position: left;
}

.join-form{
  background-color: var(--gray);
  padding: 3rem;
  margin: 2rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.input{
  padding: .8rem 1rem;
  margin: .5rem 0rem 1rem 0rem;
  background-color: #DEDEDE;
  border: none;
  border-radius: 5px;
}
.input:focus{
  background-color: #F3F3F3;
  outline: none;
}
button{
  outline: none;
  border: none;
}
#btn-join{
  background-color: var(--red);
  padding: 1rem 8rem;
  color: var(--white);
  box-shadow: 0px 0px 30px rgba(255, 38, 38, 0.4);
  font-size: 24px;
  margin-top: 1.5rem;
}
.btn{
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.btn-icon{
  margin-right: 1rem;
}

html, body, #root, #root>div {
  height: 100%!important;
  margin: 0;
} 

.nav-links{
  display: flex;
  align-items: center;
}

#arrow-back{
  margin: .2rem 1rem 0rem 0rem;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
}
footer p{
  margin-top: 2rem;
  text-align: center;
  color: #adadad!important;
}
footer p:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 482px) {
  #btn-join{
    padding: 1rem 2rem;
  }
  .mobile{
    display: block;
  }
}
@media only screen and (max-height: 670px){
  h2{
    margin-top: 3vh;
  }
  footer p{
    margin-top: 2.5rem;
  }
  .join-form{
    margin: 1rem auto;
  }
}